{{ partial "header" . }}
{{ partial "banner-list" . }}

{{ if gt (len .Sections) 0}}

    {{ $paginator := .Paginate (.Pages) 1 }}
    {{ partial "nav" . }}

    <div id="list-content" class="list-content">
    {{ range $paginator.Pages }}
       <span class="page-title">{{ .Title }}</span>   {{ .Content }} <br> 
    {{ end }}
    </div>

    <div id="list-sections" class="list-sections" style="display:none">
    {{ range .Sections }}
        {{ partial "folder" . }}<br> 
    {{ end }}
    <br>
    </div>
{{ else }}
   <div class="container">
    {{ $eval := .Paginator.TotalNumberOfElements }}
    {{ range sort .Paginator.Pages }}
    <article>
      <div class="subtitle is-6 is-pulled-right">
        {{ if .Params.tags }}
        {{ partial "tags" .Params.tags }}
        {{ end }}
      </div>
        <div class="content">
        {{ if ne ( $eval ) 1}}
          
            {{ partial "page-title-link" . }}
            {{ .Summary | plainify | safeHTML }}
            {{ if .Truncated }}
              <a class="button is-link" href="{{ .URL }}" style="height:28px">
              Read more
              <span class="icon is-small">
                <i class="fa fa-angle-double-right"></i>
              </span>
            </a>
            {{ end }}
        {{ else }}
            {{ partial "page-title" . }}
            {{ .Content }}
        {{ end }}
        </div>
    </article>
    {{ end }}
   </div>
{{ end }}

{{ partial "footer" . }}
