<div class="navigation">
    {{ if .Paginator.HasPrev }}
        <a class="previous" href="{{ .Paginator.Prev.URL }}">Previous </a>
    {{ else }}
        <a class="previous" onclick="toggleDisplay('list-sections', 'list-content');" href="#"> Previous </a>
    {{ end }}
    
    {{ if .Paginator.HasNext }}
        <a class="next" href="{{ .Paginator.Next.URL }}"> Next </a>
    {{ else }}
        <a class="next" onclick="toggleDisplay('list-content', 'list-sections');" href="#"> Next </a>
    {{ end }}
</div>