{{ partial "header" . }}
{{ partial "banner-list" . }}

{{ if gt (len .Sections) 0}}
  
  {{ $paginator := .Paginate (where .Pages "Section" "" ) 1 }}
  {{ $pageTotal := .Paginator.TotalPages }}
  {{ if ne ($pageTotal) 0 }}
    {{ partial "nav" . }}
    
    <div id="list-content" class="list-content" >
    {{ range $paginator.Pages }}
      <span class="page-title">{{ .Title }}</span>   {{ .Content }} <br> 
    {{ end }}
    </div>
    
    <div id="list-sections" class="list-sections" style="display:none">
    {{ range .Sections }}
       {{ partial "folder" . }}
    {{ end }}
    <br>
    </div>
  {{ else }}
    <div id="list-sections" class="list-sections">
    {{ range .Sections }}
       {{ partial "folder" . }}
    {{ end }}
    <br>
    </div>
  {{ end }}
{{ else }}
   <div class="container">
    {{ $eval := .Paginator.TotalPages }}   
    {{ range sort .Paginator.Pages }}
    <article>
      
      <div class="content">
        
        {{ if ne ( $eval ) 1}}
            {{ partial "page-title-link" . }}
            {{ .Summary | plainify | safeHTML }}
            {{ if .Truncated }}
            <a class="button is-link" href="{{ .URL }}" style="height:28px">
              Read more
              <span class="icon is-small">
                <i class="fa fa-angle-double-right"></i>
              </span>
            </a>
            {{ end }}
        {{ else }}
            {{ partial "page-title" . }}
            {{ .Content }}
        {{ end }}
      
      </div>
    </article>
    {{ end }}
  </div>
{{ end }}

{{ partial "footer" . }}